.hero{
    padding-block-start: 16px ;
}
.hero-image{
    text-align: center;
}
.hero h1{
    font: var(--headline5);
}
.hero h1 span{
    font: var(--headline3);
    display: block;
}
.hero-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-contact{
    padding-block-end: 24px;
    display: flex;
    gap: 16px;
}

.hero .button{
    display: block;
}

@media screen and (min-width:768px){
    .hero{
        display: flex;
    }
    .hero-image{
        order: 2;
        text-align: end;
        flex: 1;
    }
    .hero-description{
        order: 1;
        max-inline-size: 450px;
    }
    .hero .button{
        display: none;
    }
    
}

@media screen and (min-width:1024px){
    .hero-image img{
        inline-size: 500px;
        block-size: 504px;
    }
}